USE [master]
GO
/****** Object:  Database [db_gestion_seguros]    Script Date: 13/12/2024 01:30:44 ******/
CREATE DATABASE [db_gestion_seguros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_gestion_seguros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\db_gestion_seguros.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_gestion_seguros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\db_gestion_seguros_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_gestion_seguros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_gestion_seguros]
GO
/****** Object:  Table [dbo].[AGENTE]    Script Date: 13/12/2024 01:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[zona] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 13/12/2024 01:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_AGENTE] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[DNI] [varchar](15) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[correo] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COBERTURA_POLIZA]    Script Date: 13/12/2024 01:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COBERTURA_POLIZA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO_POLIZA] [int] NOT NULL,
	[descripcion_poliza] [text] NOT NULL,
	[monto_maximo] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PAGO]    Script Date: 13/12/2024 01:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PAGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PAGO] [int] NOT NULL,
	[desglose] [text] NULL,
	[monto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HISTORIAL_ESTADO_SINIESTRO]    Script Date: 13/12/2024 01:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORIAL_ESTADO_SINIESTRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_SINIESTRO] [int] NOT NULL,
	[estado_anterior] [varchar](20) NULL,
	[estado_nuevo] [varchar](20) NOT NULL,
	[observacion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METODO_PAGO]    Script Date: 13/12/2024 01:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METODO_PAGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre_metodo] [varchar](50) NOT NULL,
	[detalle] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 13/12/2024 01:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_POLIZA] [int] NOT NULL,
	[ID_METODO_PAGO] [int] NOT NULL,
	[fecha_pago] [datetime] NOT NULL,
	[monto_pago] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POLIZA]    Script Date: 13/12/2024 01:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLIZA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_TIPO_POLIZA] [int] NOT NULL,
	[monto_asegurado] [decimal](15, 2) NOT NULL,
	[prima_mensual] [decimal](10, 2) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_expiracion] [date] NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINIESTRO]    Script Date: 13/12/2024 01:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINIESTRO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_POLIZA] [int] NOT NULL,
	[descripcion] [text] NOT NULL,
	[fecha_siniestro] [datetime] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[monto_reclamado] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_POLIZA]    Script Date: 13/12/2024 01:30:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_POLIZA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tipo] [varchar](50) NOT NULL,
	[descripcion] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PAGO] ADD  DEFAULT (getdate()) FOR [fecha_pago]
GO
ALTER TABLE [dbo].[POLIZA] ADD  DEFAULT (getdate()) FOR [fecha_inicio]
GO
ALTER TABLE [dbo].[SINIESTRO] ADD  DEFAULT (getdate()) FOR [fecha_siniestro]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ID_AGENTE] FOREIGN KEY([ID_AGENTE])
REFERENCES [dbo].[AGENTE] ([ID])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_ID_AGENTE]
GO
ALTER TABLE [dbo].[COBERTURA_POLIZA]  WITH CHECK ADD  CONSTRAINT [FK_cobertura_poliza_tipo] FOREIGN KEY([ID_TIPO_POLIZA])
REFERENCES [dbo].[TIPO_POLIZA] ([ID])
GO
ALTER TABLE [dbo].[COBERTURA_POLIZA] CHECK CONSTRAINT [FK_cobertura_poliza_tipo]
GO
ALTER TABLE [dbo].[DETALLE_PAGO]  WITH CHECK ADD  CONSTRAINT [FK_pago] FOREIGN KEY([ID_PAGO])
REFERENCES [dbo].[PAGO] ([ID])
GO
ALTER TABLE [dbo].[DETALLE_PAGO] CHECK CONSTRAINT [FK_pago]
GO
ALTER TABLE [dbo].[HISTORIAL_ESTADO_SINIESTRO]  WITH CHECK ADD  CONSTRAINT [FK_historial_es_siniestro] FOREIGN KEY([ID_SINIESTRO])
REFERENCES [dbo].[SINIESTRO] ([ID])
GO
ALTER TABLE [dbo].[HISTORIAL_ESTADO_SINIESTRO] CHECK CONSTRAINT [FK_historial_es_siniestro]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_metodo_pago] FOREIGN KEY([ID_METODO_PAGO])
REFERENCES [dbo].[METODO_PAGO] ([ID])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_metodo_pago]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_pago_poliza] FOREIGN KEY([ID_POLIZA])
REFERENCES [dbo].[POLIZA] ([ID])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_pago_poliza]
GO
ALTER TABLE [dbo].[POLIZA]  WITH CHECK ADD  CONSTRAINT [FK_cliente_poliza] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
GO
ALTER TABLE [dbo].[POLIZA] CHECK CONSTRAINT [FK_cliente_poliza]
GO
ALTER TABLE [dbo].[POLIZA]  WITH CHECK ADD  CONSTRAINT [FK_poliza_tipo] FOREIGN KEY([ID_TIPO_POLIZA])
REFERENCES [dbo].[TIPO_POLIZA] ([ID])
GO
ALTER TABLE [dbo].[POLIZA] CHECK CONSTRAINT [FK_poliza_tipo]
GO
ALTER TABLE [dbo].[SINIESTRO]  WITH CHECK ADD  CONSTRAINT [FK_siniestro_poliza] FOREIGN KEY([ID_POLIZA])
REFERENCES [dbo].[POLIZA] ([ID])
GO
ALTER TABLE [dbo].[SINIESTRO] CHECK CONSTRAINT [FK_siniestro_poliza]
GO
ALTER TABLE [dbo].[AGENTE]  WITH CHECK ADD  CONSTRAINT [check_zona] CHECK  (([zona]='Lima Centro' OR [zona]='Lima Oeste' OR [zona]='Lima Este' OR [zona]='Lima Sur' OR [zona]='Lima Norte'))
GO
ALTER TABLE [dbo].[AGENTE] CHECK CONSTRAINT [check_zona]
GO
USE [master]
GO
